@charset "UTF-8";
/*hamburger menu starter her*/
Header {
  clear: both;
  width: 100%;
  background-color: #e6e6e6;
  text-decoration: none;
  /*menuen slutter her*/
}
Header a img {
  width: 30%;
}
Header .navi {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
  /*hvordan ser indholdet ud i hamburgermenuen*/
  /*position af x/lukke knappen i menuen*/
}
Header .navi .overlayer {
  position: relative;
  top: 5%;
  text-align: left;
  font-size: 10%;
  margin-top: 30px;
  text-decoration: none;
  /*hvordan linkene ser ud i overlay*/
  /*giver farve nÃ¥r der holdes over indholdet*/
}
Header .navi .overlayer a {
  padding: 6px;
  left: 5%;
  text-decoration: none;
  font-size: 30px;
  color: #ffffff;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
Header .navi .overlayer .linje {
  border-top: 2px white solid;
  width: 100%;
  padding: 0;
  left: 0;
  margin: 2% 0;
}
Header .navi .overlayer :hover :focus {
  color: #f1f1f1;
}
Header .navi .closebut {
  position: absolute;
  right: 5%;
  padding: 0;
  font-size: 60px;
  text-decoration: none;
  color: #87aa44;
}
Header span {
  display: block;
  font-size: 140%;
  color: #07395a;
  cursor: pointer;
  float: right;
  margin: 3% 3% 0 0;
}

/*fjerner navigations*/
nav {
  display: none;
}

@media screen and (min-width: 685px) {
  header {
    position: relative;
    background: #e6e6e6;
    width: 100%;
    font-weight: lighter;
    /*stylling for menu for desktop*/
    /* Navbar container */
  }
  header a img {
    width: 200px;
  }
  header .navi {
    display: none;
  }
  header span {
    display: none;
  }
  header .navbar {
    float: right;
    display: inline-block;
    list-style-type: none;
    overflow: hidden;
    clear: both;
    font-family: 'Roboto', sans-serif;
    background-color: #87aa44;
    width: 100%;
    /* Links inside the navbar */
  }
  header .navbar a {
    width: 25%;
    display: block;
    float: right;
    font-size: 20px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  header .navbar a:hover {
    background-color: #80a041;
  }
  header .navbar a:active {
    text-decoration: underline;
  }
}
@media screen and (min-width: 920px) {
  header nav {
    margin-bottom: 2%;
  }
}
