/*hamburger menu starter her*/
Header{
  //position: absolute;
  clear: both;
  width: 100%;
//  height: 50%;
  background-color: #e6e6e6;
  text-decoration: none;


  a{
      img{
      //  height: 90px;
        width: 30%;
        }
      }

.navi{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba(0,0,0,0.9);
  overflow-x: hidden;
  transition: 0.5s;
  text-decoration: none;

/*hvordan ser indholdet ud i hamburgermenuen*/
    .overlayer{
      position: relative;
      top: 10%;
      right: 5%;
      text-align: right;
      font-size: 10%;
      margin-top: 30px;
      text-decoration: none;

    /*hvordan linkene ser ud i overlay*/
         a{
          padding: 8px;
          text-decoration: none;
          font-size: 36px;
          color: #ffffff;
          display: block;
          transition: 0.3s;
        }
    /*giver farve nÃ¥r der holdes over indholdet*/
          :hover :focus{
            color: #f1f1f1;
          }
        }
    /*position af x/lukke knappen i menuen*/
    .closebut{
      position: absolute;
      top: 15px;
      right: 5%;
      padding: 0;
      font-size: 60px;
      text-decoration: none;
    }
  }

span{
  display: block;
  font-size: 140%;
  color: #07395a;
  cursor: pointer;
  float: right;
  margin: 3% 3% 0 0;

  }
  /*menuen slutter her*/
}
/*fjerner navigations*/
nav{
  display: none;
}

  @media screen and (min-width: 685px) {

    header {
      position: relative;
      background:#e6e6e6;
      width: 100%;
      font-weight: lighter;

        a{

          img{
            width: 200px;
          }
        }


    .navi {
      display: none;
    }
    span{
      display: none;
    }
  }
    /*stylling for menu for desktop*/
  /* Navbar container */
  nav {
    float: right;
    display: inline-block;
    list-style-type: none;
    overflow: hidden;
    clear: both;
    font-family: 'Roboto', sans-serif;
    background-color: #87aa44;
    width: 100%;
  /* Links inside the navbar */



    li {
      float: right;
      font-size: 16px;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      background-color: #87aa44;

      :hover{
        background-color: red;
      }
    }
  }

}

  @media screen and (min-width: 920px) {






  }
